<div class="form">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <mat-error *ngIf="email.invalid">{{getErrorMessageForEmail()}}</mat-error>
      <input type="email" [formControl]="email" name="email" matInput placeholder="Votre email s'il vous plait!">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="password" name="password"  placeholder="Votre password s'il vous plait!">
      <mat-error *ngIf="password.invalid">{{getErrorMessageForPassword()}}</mat-error>
    </mat-form-field>
  </p>
<button mat-stroked-button color="primary" [disabled]="password.invalid || email.invalid" (click)="showNextStep()">Connexion</button>
</div>